<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Tab Icon -->
    <link rel="icon" href="img/icon-3.png">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.css">

    <title>Adhy Wiranto</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKMHK9DESE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WKMHK9DESE');
    </script>

</head>

<body id="onTop">

    <nav class="navbarOnScroll navbar navbar-expand-lg navbar-light fixed-top d-none">
        <div class="container">
            <a class="navbar-brand" href="  "><img src="img/icon-3.webp" alt="AdhyW" title="AdhyW" width="36"></a>
            <button class="navbar-toggler border-0 pr-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <img src="img/burger-expand-3.webp" alt="option" title="Expand Navigation" width="18"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto navbarLinks">
                    <a class="nav-item nav-link mx-2" href="#portfolio">Portfolio</a>
                    <a class="nav-item nav-link mx-2" href="#skill">Skill</a>
                    <a class="nav-item nav-link mx-2" href="#about">About</a>
                    <a class="nav-item nav-link mx-2" href="#history">History</a>
                    <a class="nav-item nav-link mx-2" href="#contactme">Contact</a>
                    <a class="nav-item nav-link mx-2" href="https://drive.google.com/drive/folders/1WKvKRcrMdh7_JgOnMgWJJNn8xLs0h8-b?usp=sharing">DL Dataset</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href=""><img src="img/icon-3.webp" alt="AdhyW" title="AdhyW" width="36"></a>
            <button class="navbar-toggler border-0 pr-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <img src="img/burger-expand-3.webp" alt="option" title="Expand Navigation" width="18"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto navbarLinks">
                    <a class="nav-item nav-link mx-2" href="#portfolio">Portfolio</a>
                    <a class="nav-item nav-link mx-2" href="#skill">Skill</a>
                    <a class="nav-item nav-link mx-2" href="#about">About</a>
                    <a class="nav-item nav-link mx-2" href="#history">History</a>
                    <a class="nav-item nav-link mx-2" href="#contactme">Contact</a>
                    <a class="nav-item nav-link mx-2" href="https://drive.google.com/drive/folders/1WKvKRcrMdh7_JgOnMgWJJNn8xLs0h8-b?usp=sharing">DL Dataset</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- GO TOP -->
    <div class="row">
        <div class="col">
        <a class="goTop btn btn-dark fixed-bottom ml-3 mb-2 rounded-circle shadow d-none" href="#onTop"
            style="width: 70px; height: 70px;">
            <i class="fas fa-chevron-up text-white h3 py-3"></i>
        </a>
        </div>
    </div>
    <!-- GO TOP -->

    <div id="jumbotron" class="container" style="margin-bottom: 120px;">
        <div class="row">
            
            <div class="col-md-4 text-center order-md-2">
                <img class="jumbotronImg" src="img/profile-3.webp">
            </div>
            
            <div class="col-md-6 offset-lg-1 jumbotronTitle">
                <small class="mb-0">Hello,</small>
                <h1>I Am Adhy</h1>
                <p class="mb-2 font-weight-lighter text-secondary">Full Stack Web Developer | College Student</p>
                <a href="https://www.linkedin.com/in/adhy-wiranto-665882155/" class="h4 mx-1 text-secondary" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/adhywiranto44" class="h4 mx-1 text-secondary" title="Github"><i class="fab fa-github"></i></a>
                <a href="https://instagram.com/wanindemilien" class="h4 mx-1 text-secondary" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.behance.net/skuukzkylxixsxa" class="h4 mx-1 text-secondary" title="Behance"><i class="fab fa-behance-square"></i></a>
                <a href="https://www.youtube.com/channel/UCbdn7yqFCFXkU14eagNzqQQ" class="h4 mx-1 text-secondary" title="Youtube"><i class="fab fa-youtube"></i></a>
                <br>
                <a href="#about" class="btn btn-dark nav-item mt-5 py-2">About me</a>
                
                <!-- <p class="jumbotronTitle"><small>Hello friends,</small><br><h1>I'm Adhy</h1><br><a href="#latestVideo" class="btn btn-dark nav-item mt-3 py-2">My latest video!</a></p> -->

            </div>
        </div>
    </div>

    <div id="about" class="container mb-5">
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md">
                        <h3 class="mb-4 text-center h4">About me</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col offset-lg-2">
                        <div class="card border-0 p-3 shadow-sm">
                            <div class="card-body">
                                <p class="card-text text-justify">Hello my name is Adhy Wiranto Sudjana, you can call me Adhy. I was born in april 4th, 1999 at Cirebon, Indonesia. I am an Intermediate Web Developer (both Front-End and Back-End).
                                <br><br>
                                These days I working at Indonesian Traffic Sign detector for my bachelor's assignment, the dataset contains 21 classes with 3 main traffic light (green, yellow, and red).
                                Let me know if we can work together :)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hobby" class="container" style="margin-bottom: 100px;">
        <div class="row mb-4">
            <div class="col-md">
                <h3 class="text-center h4">My Hobbies</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card border-0 bg-transparent mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="img/hobby/coding.webp" class="card-img mt-3" title="Photo bt Luca Bravo on Unsplash" style="filter: blur(10px); opacity: .5;">
                            <img src="img/hobby/coding.webp" class="card-img position-absolute" title="Photo bt Luca Bravo on Unsplash" style="left: 0;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-3 mt-2 mb-3">
                                <h5 class="card-title">Coding & Web Design</h5>
                                <p class="card-text text-dark">I usually use CodeIgniter and Adobe XD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class=" card border-0 bg-transparent mb-3 float-right" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 order-md-2">
                            <img src="img/hobby/music.webp" class="card-img mt-3" title="Photo by Maurice Lourens on Unsplash" style="filter: blur(10px); opacity: .5;">
                            <img src="img/hobby/music.webp" class="card-img position-absolute" title="Photo by Maurice Lourens on Unsplash" style="left: 0;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pr-md-3 pl-3 mt-2 mb-3 text-md-right">
                                <h5 class="card-title">Music</h5>
                                <p class="card-text text-dark">R&B music, K-POP, Lo-fi, and Pop.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class=" card border-0 bg-transparent mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="img/hobby/gaming-2.webp" class="card-img mt-3" title="Photo by Ammar ABU-ZAiD on Unsplash" style="filter: blur(10px); opacity: .5;">
                            <img src="img/hobby/gaming-2.webp" class="card-img position-absolute" title="Photo by Ammar ABU-ZAiD on Unsplash" style="left: 0;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-0 pl-3 mt-2 mb-3">
                                <h5 class="card-title">Gaming</h5>
                                <p class="card-text text-dark">Casually plays FPS such as PUBG and Valorant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="skill" class="container mb-5">
        <div class="row mb-4">
            <div class="col-md text-center">
                <h3 class="h4">My Skills</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="card border-0 bg-transparent">
                    <i class="fas fa-layer-group text-center"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">UI/UX Design</h5>
                        <p class="card-text text-dark">Use Adobe XD, love it :)</p>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="card border-0 bg-transparent">
                    <i class="fas fa-laptop-code text-center"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Back-End & Front-End Dev.</h5>
                        <p class="card-text text-dark">Use CodeIgniter, Node.js on the way</p>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="card border-0 bg-transparent">
                    <i class="fas fa-bezier-curve text-center"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Logo Design</h5>
                        <p class="card-text text-dark">I sketch on paper and designed it to digital form.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio" class="container mb-5">
        <div class="row">
            <div class="col text-center mb-4">
                <h3 class="h4">My Portfolio</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card border-0 bg-transparent shadow">
                    <img src="img/portfolio/ikasma3bdg.webp" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white">IKASMA3BDG</h5>
                        <p class="card-text text-white">Web yang berisi data para alumni dengan fitur berita, forum bisnis, dan komunitas.</p>
                        <a class="btn btn-dark px-3" href="https://ikasma3bdg.com" target="blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 bg-transparent shadow">
                    <img src="img/portfolio/sound.webp" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white">SOUND</h5>
                        <p class="card-text text-white">Website E-Commerce CRUD yang menjual headphone dan earphone.</p>
                        <a class="btn btn-dark px-3" href="https://github.com/AdhyWiranto44/sound" target="blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 bg-transparent shadow">
                    <img src="img/portfolio/smarthomeui.webp" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white">Smarthome UI</h5>
                        <p class="card-text text-white">Desain UI app smarthome untuk iOS</p>
                        <a class="btn btn-dark px-3" href="https://www.behance.net/gallery/103817029/Smarthome-UI" target="blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 bg-transparent shadow">
                    <img src="img/portfolio/gawedong.webp" class="card-img">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white">GaweDong</h5>
                        <p class="card-text text-white">Desain UI/UX aplikasi Job Seeker, partisipan lomba Codig 3.0 UMB 2020</p>
                        <a class="btn btn-dark px-3" href="https://www.behance.net/gallery/115463817/UI-Design-GaweDong" target="blank">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="history" class="container mb-5">
        <div class="row">
            <div class="col text-center mb-4">
                <h3 class="h4">My History</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card bg-0 border-0 shadow-sm" style="border-radius: 30px;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col my-3 orde">
                        <h5 class="text-center mb-3">Education</h5>
                        <ul class="timeline position-relative">
                          <li class="list-unstyled pl-3">
                            <h6>2017 - 2021 <small>(Aamiiin)</small></h6>
                            <p>Teknik Informatika
                              Universitas Pasundan Bandung</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2014 - 2017</h6>
                            <p>SMAN 2 Kota Cirebon</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2011 - 2014</h6>
                            <p>SMP Islam Al Azhar 5 Cirebon</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2007 - 2011</h6>
                            <p>SDN Kebon Baru 1 Cirebon</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2005 - 2007</h6>
                            <p>SD Muhammadiyah Bandung</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md my-3">
                        <h5 class="text-center mb-3">Organization</h5>
                        <ul class="timeline position-relative">
                          <li class="list-unstyled pl-3">
                            <h6>2019 - 2021</h6>
                            <p>Coordinator Assistant for Informatics Engineering UNPAS</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2019 - 2021</h6>
                            <p>Laboratory Assistant for Informatics Engineering UNPAS</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2019</h6>
                            <p>Secretary
                              DKM Ulul Albaab
                              Universitas Pasundan Bandung</p>
                          </li>
                          <li class="list-unstyled pl-3">
                            <h6>2018</h6>
                            <p>Coordinator Publication & Documentation
                              Mentoring PAI DKM Ulul Albaab
                              Universitas Pasundan Bandung</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contactme" class="container">
        <div class="row">
            <div class="col-md align-self-center text-center mb-3">
                <h3 class="h4">Contact Me!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">

                <div class="alert alert-success alert-dismissible fade show d-none my-alert" role="alert">
                    <strong>Yeay!</strong> The messages has been sent :)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form name="adhywiranto44-contact-me">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="your name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="your email" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="messages" name="messages" rows="10" placeholder="share your thoughts" required autocomplete="off"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 font-weight-bold btn-send">Send</button>
                    
                    <button class="btn btn-dark w-100 font-weight-bold btn-loading d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </form>
            </div>
        </div>
    </div>

    <footer id="footer" class="pt-5 myFooter" style="margin-top: 140px;">
        <div class="container">
            <div id="latestVideo" class="row">
                <div class="col-md">
                    <h6 class="mb-3">My Latest Video</h6>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <section id="video"></section>
                    <main></main>
                </div>
                <div class="col-md">
                    <h4 class="latestVideoTitle"></h4>
                    <p class="latestVideoDesc"></p>
                </div>
            </div>
            <div class="row pt-3 border-top border-light">
                <div class="col-md-6 text-center text-md-left pb-3">
                    <small>&#169; 2021. Made with &#10084; By Adhy Wiranto</small>
                </div>
                <div class="col-md-6 text-center text-md-right pb-3">
                    <a href="https://www.linkedin.com/in/adhy-wiranto-665882155/" class="h4 mx-1" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/adhywiranto44" class="h4 mx-1" title="Github"><i class="fab fa-github"></i></a>
                    <a href="https://instagram.com/wanindemilien" class="h4 mx-1" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.behance.net/skuukzkylxixsxa" class="h4 mx-1" title="Behance"><i class="fab fa-behance-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCbdn7yqFCFXkU14eagNzqQQ" class="h4 mx-1 text-secondary" title="Youtube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery/jquery.easing.1.3.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
