/* Font faces */
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoeui.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/segoeuib.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Regular.woff2");
    font-display: swap;
}
/* End of font faces */



/* Mode */
:root {
    --background: #f9f9f9;
    --background-secondary: #fcfcfc;
    --text-primary: #28292e;
    --text-secondary: #55565b;
    --theme-primary: #2044d1;
    --theme-secondary: #6476c7;
    --navbar: rgba(255,255,255,0.5);
}

html[data-color-mode="dark"] {
    --background: #28292e;
    --background-secondary: #1f2026;
    --text-primary: #ececec;
    --text-secondary: #cccccc;
    --theme-primary: #18339c;
    --theme-secondary: #47548f;
    --navbar: rgba(36, 36, 36, 0.5);
}
/* End of mode */



/* Other */
body,
html {
    background-color: var(--background);
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI Bold", Arial, sans-serif;
    font-weight: bold;
}

h6 {
    color: var(--theme-primary);
}

p {
    line-height: 27px;
    font-size: 18px;
}

p,
a {
    font-family: "Work Sans", Arial, sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.blogImg {
    height: 150px;
    width: 200px;
}

#blog .card {
    background-color: var(--background-secondary);
}

i.fa-chevron-down {
    margin-top: 170px;
}

.card i.fas {
    font-size: 100px;
    background: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

iframe {
    width: 100%;
    height: 360px;
    transition: .3s;
}

iframe:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 10px 8px rgba(28, 32, 35, 0.5));
}

.btn {
    border-radius: 10px;
}

#login .btn {
    border-radius: 14px;
}

.btn-dark {
    border: 0;
    background: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));
    transition: .3s;
}

.btn-dark:hover {
    background: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));
    box-shadow: 0 10px 20px rgba(47, 82, 224, 0.3);
    transform: translateY(-3px);
}

.form-control {
    background-color: var(--background-secondary);
    border: 0;
    border-radius: 14px;
    padding: 15px 20px;
    height: 50px;
    /* box-shadow: 0 3px 5px rgba(209, 209, 209, 0.5); */
}

.form-control:focus {
    background-color: var(--background-secondary);
}

ul.timeline:before {
    content: '';
    background: var(--theme-secondary);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}

ul.timeline li:before {
    content: '';
    background: var(--theme-primary);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 22px;
    width: 15px;
    height: 15px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

a.goTop {
    background-color: rgba(85, 86, 91, .8);
}
/* End of other */


/* Navbar */
/* .navbarOnScroll {
} */

.navbar {
    z-index: 1;
    background-color: var(--background);
    transition: 0.3s;
}

a.nav-item {
    font-family: "Segoe UI Bold", Arial, sans-serif;
}

a.nav-link {
    color: var(--text-primary) !important;
    transition: 0.3s;
}

a.nav-link::after {
    transition: .3s;
}

a.nav-link:hover {
    color: var(--theme-primary) !important;
}

.navbar-toggler:focus, .goTop:focus {
    outline: none;
}
/* End of navbar */




/* Jumbotron */
#jumbotron {
    padding: 70px 0 70px 0;
}

.jumbotronImg {
    margin-top: 75px;
    margin-bottom: 75px;
    transition: .3s;
}

.jumbotronTitle {
    font-family: "Segoe UI Bold", Arial, sans-serif;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 150px;
}

.jumbotronTitle p, .jumbotronTitle i, .card-text, .card-title, h6 {
    color: var(--text-secondary);
}
/* End of jumbotron */



/* About */
.card {
    background-color: var(--background-secondary);
}
/* About */



/* Portfolio and hobby */
#hobby img,
#portfolio img,
#portfolio .card,
#portfolio .card-img-overlay, iframe, .jumbotronImg, .card {
    border-radius: 27px;
}

#portfolio .card-img-overlay {
    opacity: 0;
    background-color: rgba(56, 56, 56, 0.8);
    transition: 0.3s;
}

#portfolio .card-img-overlay:hover {
    opacity: 1;
}

#portfolio .card img {
    transition: 0.3s;
}
/* End of portfolio and hobby */




/* Contact me */
#contactme button {
    padding: 12px 0;
}
/* End of contact me */




/* Footer */
footer {
    color: #ececec;
    background: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));
}

footer i {
    color: #ececec;
}

footer h6 {
    color:  #ececec;
}

footer a {
    transition: 0.3s;
    color:  #ececec;
}

footer a:hover {
    color: #ececec;
}

footer .border-top {
    border-top-width: 3px !important;
}
/* End of footer */





/* Responsive design */
@media (min-width: 1200px) {
    .blogTitle {
        margin-left: -40px;
    }

    h1.jumbotronTitle {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .navbarLinks {
        padding-left: 140px;
    }

    a.nav-link::after {
        content: "";
        display: block;
        border-bottom: 3px solid var(--theme-primary);
        margin-top: 16px;
        margin-bottom: -18px;
        transition: opacity .3s ease;
        opacity: 0;
    }

    a.nav-link:hover::after {
        opacity: 1;
    }

    .jumbotronImg:hover {
        margin-top: 65px;
        box-shadow: 0 35px 35px rgba(47, 82, 224, 0.2);
    }

    a.contactMe {
        text-align: right !important;
    }

    .contactMe {
        margin-right: -15px;
    }

    .waiImg {
        width: 300px;
    }

    #hobby {
        padding: 0 100px;
    }
}

@media (max-width: 992px) {
    a.nav-link {
        text-align: center;
    }

    .row .waiImg {
        margin: auto;
    }

    .blogImg {
        width: auto;
    }

    iframe {
        width: 100%;
        height: 240px;
    }
}

@media (max-width: 768px) {
    .jumbotronImg {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .jumbotronTitle {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 600px) {
    iframe {
        width: 100%;
        height: 240px;
    }
}
/* End of responsive design */