        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="vendor/jquery/jquery.js"></script>
        <script src="vendor/jquery/jquery.easing.1.3.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
    </body>
    </html>